body {
    background-color: coral;
}

/* The navigation bar */
.navbar {
    background-color: #f04e23;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    right: 0;
    width: 100%; /* Full width */
}

/* The navigation bar */
.navbar img {
    display: inline-block;
    float: left;
    padding: 3px 3px, 3px, 100px;
    height: 39px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    
    transition: all 0.4s ease-in-out;
    background-color: #f04e23;
    color: #ffffff;
}

/* Style the links inside the navigation bar */
.navbar a:hover {

    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    color: #f04e23;
}